@model SK.Models.Order
@{
    ViewBag.Title = "删除订单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-danger text-white">
            <h3 class="card-title">
                <i class="fas fa-trash-alt me-2"></i>删除订单
            </h3>
        </div>

        <div class="card-body">      

            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">剧本名称：</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.ScriptTitle)</dd>

                        <dt class="col-sm-4">客户姓名：</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.CustomName)</dd>

                        <dt class="col-sm-4">联系电话：</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Phone)</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">预约时间：</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Time)</dd>

                        <dt class="col-sm-4">玩家数量：</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.PlayerCount)</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="card-footer bg-light">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="d-flex justify-content-between">
                    <a href="@Url.Action("Index")" class="btn btn-secondary">
                        <i class="fas fa-arrow-left me-2"></i>返回列表
                    </a>
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash-alt me-2"></i>确认删除
                    </button>
                </div>
            }
        </div>
    </div>
</div>